{% extends "base.html" %}

{% block style %}
<style type="text/css">
	table {
        border: 1px solid green;
    }
    td
	{
		text-align:left;
		width:200px;
		vertical-align:top;
		border: 2px solid black;
	}
	p {
		font-family:"Times New Roman", Times, serif;
		font-style:italic;
		font-size:20px;
	}
</style>
{% endblock %}

{% block content %}
	<h2>Resulst for {{ username }}</h2>
	{% if errors %}
	<table>
		<tr>
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</tr>
	</table>
	{% endif %}
	<table>
		{% for name, pic1, pic2, pic3, pic4, pic5 in content %}
		<tr>
			<td><p>{{ name }}</p></td>
			{% if pic1 %}
			<td><img src="{{ MEDIA_URL }}{{ pic1 }}" /></td>
			{% else %}
			<td><p>No Images!</p></td>
			{% endif %}
		</tr>
		<tr>
			{% if pic2 %}
			<td></td>
			<td><img src="{{ MEDIA_URL }}{{ pic2 }}" /></td>
			{% endif %}
		</tr>
		<tr>
			{% if pic3 %}
			<td></td>
			<td><img src="{{ MEDIA_URL }}{{ pic3 }}" /></td>
			{% endif %}
		</tr>
		<tr>
			{% if pic4 %}
			<td></td>
			<td><img src="{{ MEDIA_URL }}{{ pic4 }}" /></td>
			{% endif %}
		</tr>
		<tr>
			{% if pic5 %}
			<td></td>
			<td><img src="{{ MEDIA_URL }}{{ pic5 }}" /></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
{% endblock %}