{% extends "base.html" %}

{% block content %}
    <h2>Users</h2>
    <ul>
        {% for user in all_users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search Pics from User">
    </form>
{% endblock %}